.body {
  margin: 0;
}
.header {
  display: flex;
  background-color: rgb(67, 78, 41);
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  flex: 1;
  
  
}
.Rainydays-logo {
  width: 100%;
  
}
.left-section {
  margin: 0;
}
.middle-section {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-end;
}
.menu-navigation {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  
  margin-right: 1%;
}
.home-button,
.shop-women-button,
.shop-men-button,
.about-button,
.contact-us-button {
  background-color: rgb(36, 47, 10);
  color: white;
  padding-top: 2%;
  padding-bottom: 2%; 
  padding-left: 2%;
  padding-right: 2%; 
  border-radius: 1em;
  border-color: rgb(143, 157, 110);
  margin-right: 2%;
}
.search-bar {
  flex: 1;
  width: 100%;
  margin-top: 15%;
  
  
}
.search {
  width: max-content;
  display: flex;
  align-items: start;
  padding: 3.5%;
  border-radius: 1em;
  background-color: white;
  width: 100%;
  transition: box-shadow 0.25;
  
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.search-input {
  font-size: 16px;
  font-family: inter, sans-serif;
  color: rgb(36, 47, 10);
  margin-left: 1em;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  }

.placeholder-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
} 

.right-section {
  display: flex;
  align-items: flex-end;
  
  
  
  
}
.shopping-cart-logo {
  width: 100%;
  background-color: rgb(67, 78, 41);
}