.body {
  margin: 0;
} 
      .header {
        background-color: rgb(67, 78, 41);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 3%;
        padding-left: 10%;
      }
      
        
        
      .Rainydays-logo {
        width: 75%;
        padding-left: 30%;
      }
      .shopping-cart-logo {
        background-color: rgb(67, 78, 41);
        width: 58%;
        padding-left: 15%;
        }
      
      .left-section {
        display: flex;
        flex: 1;
        align-items: center;
        cursor: pointer;
      }
      .middle-section {
        display: flex;
        align-items: center;
        flex: 2;
      }
      .right-section {
        display: flex;
        align-items: center;
        flex: 1;
      }

      /*hamburger-koding*/

      *, *::after, *::before {
        box-sizing: border-box;
      }
      
      .body {
        margin: 0;
      }
      
      :root {
        --bar-width: 80px;
        --bar-height: 10px;
        --hamburger-gap: 10px;
        --foreground: rgb(255, 255, 255);
        --background: rgb(36, 47, 10);
        --hamburger-margin: 8px;
        --animation-timing:200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
      }
      
      
      .hamburger-and-sidebar {
        display: block;
        content: "";
        margin-left: 10%;
        margin-top: -10%;

      }
      .checkbox {
        width: 55px;
        height: 55px;
      }
      .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: var(--hamburger-gap);
        
        padding-left: 10%;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
      }
      .hamburger-menu:has(input:checked) {
        --foreground: rgb(255, 255, 255);
        --background: rgb(255, 255, 255);
      }
      
      .hamburger-menu:has(input:focus-visible)::before,
      .hamburger-menu:has(input:focus-visible)::after,
      .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
      }
      .hamburger-menu::before,
      .hamburger-menu::after,
      .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing); 
        
      }
      
      .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
        
      }
      
      .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
      }
      .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
      }
      .hamburger-menu input:checked {
        
        opacity: 0;
        width: 0;
      }
      
      .sidebar {
        transition: transform var(--animation-timing);
        translate: -200%;
        background-color: rgb(36, 47, 10);
        color: white;;
        width: 25%;
        min-height: 25em,
      }
      
      .hamburger-open {
        display: block;
        text-align: center;
        width: 150%;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-right: 20%;

      }
      .hamburger-menu:has(input:checked) +.sidebar {
        translate: 100%;
      }