

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');


.about-rainydays-page-desktop-container {
  
  background-image: url(/../html-css-course-assignment-Entav78/assets/images/twentyfour/Dame/background-about.jpeg);
  background-size: cover;
  background-position: center start;
  height: 100vh;
  font-family: Merienda;
  font-weight: 500;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 50%;
  padding-bottom: 10%;
}

.h1 {
  display: block;
  font-weight: 700;
  font-size: 30px;
  
  margin-top: 5%;
}

@media screen and (min-width: 300px) and (max-width: 486px) {
  
  
}
