@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.body {
  margin: 0;
}

.header {
  display: flex;
  flex: 1 1 1;
  align-items: center;
  
}
.rainydays-logo {
  width: fit-content;
  padding-left: 40%;
}
.search-bar {
  width: 100%;
}
.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 28px;
  background-color: white;
  width: 100%;
  transition: box-shadow 0.25;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search-input {
  font-size: 16px;
  font-family: inter, sans-serif;
  color: black;
  margin-left: 24px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  }

.placeholder-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
} 
.home-button,
.shop-button,
.about-button,
.contact-us-button {
  background-color: rgb(36, 47, 10);
  color: white;
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%; 
  padding-left: 3%;
  padding-right: 3%; 
  border-radius: 1em;
  margin-bottom: 3%;
}