*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 2vw;
}

.about-rainydays-desktop-container {
  background-image: url(/assets/images/rainydays-ai-resized.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: merienda;
  font-size: 2vw;
  padding-top: 10%;
}

.h1 {
  display: block;
  color: white;
  font-weight: 700;

  padding-left: 5%;
  margin-top: 2%;
}

.about-us-text {
  margin-top: 2%;
  color: white;
  margin-left: 5%;
  font-weight: 400;
}


.img {
  width: 100%;
}

.home-women-shop-container {
  display: flex;
  background-image: url(./assets/images/twentyfour/Dame/women-shop-image.png);
  background-size: cover;
  background-position: center end;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4%;
}

.women-shop-button {
  background-color: rgb(67, 78, 41);
  color: white;
  width: 112px;
  height: 47px;
  border: none;
  border-radius: 20px;
  margin-bottom: 7%;
  cursor: pointer;
}

.home-men-shop-container {
  display: flex;
  background-image: url(../assets/images/twentyfour/Herre/shop-men-tiny.jpeg);
  background-size: cover;
  background-position: center end;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-bottom: 4%;
}

.men-shop-button {
  background-color: rgb(67, 78, 41);
  color: white;
  width: 112px;
  height: 47px;
  border: none;
  border-radius: 20px;
  margin-bottom: 4%;
  cursor: pointer;
}