/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


/* Rainydays Home Mobile*/
      .header {
        background-color: rgb(67, 78, 41);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 3%;
      }
      .hamburger-menu {
        width: 90%;
        padding-left: 50%;
        }
      .Rainydays-logo {
        width: 75%;
        padding-left: 30%;
      }
      .shopping-cart-logo {
        background-color: rgb(67, 78, 41);
        width: 58%;
        padding-left: 15%;
        }
      
      .left-section {
        display: flex;
        flex: 1;
        align-items: center;
      }
      .middle-section {
        display: flex;
        align-items: center;
        flex: 2;
      }
      .right-section {
        display: flex;
        align-items: center;
        flex: 1;
      }
      .body {
        margin-bottom: 500px;
      }

      .main-picture-home {
        width: 100%;
      }

      .header-1 {
        font-family: merienda;
        font-size: 16px;
        margin-left: 2%;
      }
/*do something about the picture and size*/
      .home-women-shop,
      .home-men-shop {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        
      }
 /*use a grid instead of flex on buttons to keep in place when ajusting screensize?*/     
      .women-shop-button,
      .men-shop-button {
        background-color: rgb(67, 78, 41);
        color: white;
        width: 112px;
        height: 47px;
        border: none;
        border-radius: 20px;
        margin-bottom: 25%;
        margin-top: -20%;
      }
    
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    .footer-mobile {
      display: grid;
      grid-template-rows: 13em 5rem;
      align-items: center;
      background-color: rgb(67, 78, 41);
      font-family: inter;
      font-size: 16px;
      font-weight: 500;
      color: white;
      line-height: 0.2em;
      padding-left: 35%;
      padding-bottom: 1rem;
    }
    .upper-section {
      display: grid;
      grid-template-rows: 1.8em 4em 1.8em ;
      width: 12em;
    }
    .lower-section {
     display: grid; 
     grid-template-rows: 1.5em 3em;
     }
    .location,
    .call-us,
    .mail-us {
      display: grid;
      grid-template-columns: 2em 1fr;
    }
    .location-icon {
      margin-top: 0.5em;
      margin-left: 0.3em;
    }
    .mobile-icon {
      margin-top: 0.5em;
      margin-left: 0.3em;
    }
    .mail-icon {
      margin-top: 0.5em;
    }
    .social-media {
      display: grid;
      grid-template-columns: 2em 2em 2em;
      align-items: center;
    }
  
  