
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');


.footer-mobile {
  display: grid;
  grid-template-rows: 13em 5rem;
  align-items: center;
  background-color: rgb(67, 78, 41);
  font-family: inter;
  font-size: 20px;
  font-weight: 500;
  color: white;
  line-height: 0.2em;
  padding-left: 45%;
  padding-top: 2.5%;
  padding-bottom: 5%;
}
.upper-section {
  display: grid;
  grid-template-rows: 1.8em 4em 1.8em ;
  width: 12em;
  margin-bottom: 2em;
}
.h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.lower-section {
 display: grid; 
 grid-template-rows: 1.5em 3em;
 }
.location,
.call-us,
.mail-us {
  display: grid;
  grid-template-columns: 2em 1fr;
}
.location-icon {
  width: 40%;
  margin-top: 0.5em;
  margin-left: 0.3em;
}
.mobile-icon {
  margin-top: 0.5em;
  margin-left: 0.3em;
}
.mail-icon {
  margin-top: 0.5em;
}
.social-media {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  align-items: center;
}