/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}