.body {
  margin: 0;
}
.header {
  background-color: rgb(67, 78, 41);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
}
.Rainydays-logo {
  width: 100%;
  padding-left: 30%;
}
.search-bar {
  background-color: white;
}
.shopping-cart-logo {
  background-color: rgb(67, 78, 41);
  width: 5em;
  
  }
.about-us-desktop-container {
  
  margin: 0;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  background-color: rgb(67, 78, 41);
  background-image: url("/assets/images/twentyfour/Dame/about-us-picture-from-figma.png") 
  
  

}
.h2 {
  margin: 0;
  padding-top: 50px;
  padding-left: 10%;
}
.about-us-text {
  margin-left: 10%;
  margin-right: 45%;
}