
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.footer-small {
  display: grid;
  grid-template-rows: 13em 5rem;
  align-items: center;
  background-color: rgb(67, 78, 41);
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 0.2em;
  padding-left: 35%;
  padding-bottom: 1rem;
}
.upper-section-small {
  display: grid;
  grid-template-rows: 1.8em 4em 1.8em ;
  width: 12em;
}
.lower-section-small {
 display: grid; 
 grid-template-rows: 1.5em 3em;
 }
.location-small,
.call-us-small,
.mail-us-small {
  display: grid;
  grid-template-columns: 2em 1fr;
}
.location-icon-small {
  margin-top: 0.5em;
  margin-left: 0.3em;
}
.mobile-icon-small {
  margin-top: 0.5em;
  margin-left: 0.3em;
}
.mail-icon-small {
  margin-top: 0.5em;
}
.social-media-small {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  align-items: center;
}