@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');


.about-rainydays-page-desktop-container {
  background-color: chocolate;
  background-image: url(/assets/images/twentyfour/Dame/crop-resize080124.jpg);
  background-size: cover;
  background-position: end;
  height: 800px;
  font-family: Merienda;
  font-weight: 500;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 50%;
}

.h2 {
  display: block;
  
  font-weight: 700;
  font-size: 22px;
  
  margin-top: 5%;
}

@media screen and (min-width: 601px) and (max-width: 719px) {
  
  
}
