.body {
  margin: 0;
} 
.container-header-small{
  
}      
.header-small {
  background-color: rgb(67, 78, 41);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 7%;
  padding-bottom: 7%;
}
      
.rainydays-logo-small {
  width: 100%;
  padding-left: 32%;
  margin-left: 12%;
}
      
.shopping-cart-logo-small {
  background-color: transparent;
  width: 25%;
  

}
      
.left-section-small {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
}
      
.middle-section-small {
  display: flex;
  align-items: center;
  flex: 1;
}
      
.right-section-small {
  display: flex;
  align-items: center;
  flex: 1;
}

      /*hamburger-koding*/

*, *::after, *::before {
  box-sizing: border-box;
}
      
      
:root {
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --foreground: rgb(255, 255, 255);
  --background: rgb(36, 47, 10);
  --animation-timing:200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}
      
.hamburger-and-sidebar {
  display: block;
  content: "";
  margin-left: 10%;
  margin-top: -11.5%;
}
      
.checkbox {
  width: 55px;
  height: 55px;
}
      
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: var(--hamburger-gap);
  padding-left: 10%;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  position: sticky;
  top: 0;
}
      
.hamburger-menu:has(input:checked) {
  --foreground: rgb(255, 255, 255);
  --background: rgb(255, 255, 255);
}
      
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}
      
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing); 
}

        
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
        
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  
}
        
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
        
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
        
.sidebar {
  transition: transform var(--animation-timing);
  translate: -200%;
  background-color: rgb(36, 47, 10);
  color: white;;
  width: 25%;
  min-height: 25em,
}
        
.hamburger-open {
  display: block;
  text-align: center;
  width: 150%;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-right: 20%;
  padding-left: 20%;
}

.hamburger-menu:has(input:not:checked) +.sidebar {
  display: none;
  
}
        
.hamburger-menu:has(input:checked) +.sidebar {
  translate: 100%;
  display: block;
  
}
/*
.header-large {
  display: flex;
  background-color: rgb(67, 78, 41);
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  flex: 1;
  
  
}
.Rainydays-logo-large {
  width: 100%;
  
}
.left-section-large {
  margin: 0;
}
.middle-section-large {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-end;
}
.menu-navigation-large {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-right: 1%;
}
.home-button-large,
.shop-women-button-large,
.shop-men-button-large,
.about-button-large,
.contact-us-button-large {
  background-color: rgb(36, 47, 10);
  color: white;
  padding-top: 2%;
  padding-bottom: 2%; 
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 1em;
  border-color: rgb(143, 157, 110);
  margin-right: 2%;
}
.search-bar {
  flex: 1;
  width: 100%;
  margin-top: 15%;
  
  
}
.search {
  width: max-content;
  display: flex;
  align-items: start;
  padding: 3.5%;
  border-radius: 1em;
  background-color: white;
  width: 100%;
  transition: box-shadow 0.25;
  
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.search-input {
  font-size: 16px;
  font-family: inter, sans-serif;
  color: rgb(36, 47, 10);
  margin-left: 1em;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  }

.placeholder-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
} 

.right-section-large {
  display: flex;
  align-items: flex-end;
  
  
  
  
}
.shopping-cart-logo-large {
  width: 100%;
  background-color: transparent;
}
*/



       
@media screen and (max-width: 430px) {
  .container-header-large {
    display: none;
  }
        
        
} 
  /*      
@media screen and (min-width: 431px) and (max-width: 600px) {
        .container-header-large {
          display: none;
        }
        
        .hamburger {
          margin-left: 9%;
          margin-top: -15%;
        }

        .rainydays-logo-small {
          width: 75%;
          padding-left: 10%;
        }
        .shopping-cart-logo-small {
          width: 45%;
        }
}

@media screen and (min-width: 601px) and (max-width: 719px) {
  .container-header-large {
    display: none;
  }
  
       .hamburger {
          margin-left: 9%;
          margin-top: -16%;
        }

        .rainydays-logo-small {
          width: 90%;
          margin-right: 10%;
        }
        .shopping-cart-logo-small {
          width: 45%;
        }
        .main-container {
          padding-top: 50%;
        }
} 

@media screen and (min-width: 720px) and (max-width: 4400px) {
  .container-header-small {
    display: none;
  }

  
}       